<style>
   .btn.btn-primary {
    background-color: #33AAFF;
    width: 75px;
  } 
  .btn.btn-primary a {
    color: white;
    text-align: center;
  }
  tbody td {
    font-size: 10pt;
    text-align: center;
  }
  tr {
    color: black;
  }
  .header {
    background-color: #BBBBBB;
  }
</style>

<div class="container">
  <!-- Main component for a primary marketing message or call to action -->
  <%= form_tag(:action => 'destroy', :id => @company.id) do %>
    <table class="list"  summary="Schedule list">
      <tr class="header">
        <th>Company</th>
      </tr>
      <tr>
        <td><%= @company.name %></td>     
      </tr>
    </table>
  <%= submit_tag('Delete Comapany', class: "btn btn-large btn-primary") %>
  <% end %>  
</div>
