<style>
  
   
   .btn.btn-large.btn-primary {
     background-color: #33AAFF;
     margin-bottom: 10px;
     width: 140px;
     font-size: 10pt;
     padding-left: 5px;
     margin-left: 10px;
     text-align: center;
     color: white;
   }
   
   table, th, td {
   border: 1px solid black;
   }
    
   table, td {
     font-size: 15px;
   }
  
</style>

<div class="container">
  <!-- Main component for a primary marketing message or call to action -->
  <%= form_tag(:action => 'destroy', :id => @company.id) do %>
    <table class="list"  summary="Schedule list">
      <tr class="header">
        <th>Company</th>
      </tr>
      <tr>
        <td><%= @company.name %></td>     
      </tr>
    </table>
  <%= submit_tag('Delete Comapany', class: "btn btn-large btn-primary") %>
  <% end %>  
</div>
