<div class="container">
  <!-- Main component for a primary marketing message or call to action -->
<%= form_tag(:action => 'update', :id => @company.id) do %>  
  <label>
    <div>Customer Name</div>
    <%= text_field(:company, :name) %>
  </label>
  <div class="error"><%= @error %></div>  
  <%= submit_tag('Update Customer', class: "btn btn-large btn-primary") %>
<% end %>
</div>  
