<!-- / header -->
<div><%= render 'header' %></div>

<div class="container">
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Please log in</h1>
  </div><!--/.header-collapse -->

  <%=  link_to("Admin", :controller => 'admin', :action => 'index') %>
  
</div>
  
<!-- / footer -->
<div><%= render '/register/footer' %></div>