<tr>
  <td style="width:50%;margin:0;padding:0">
    <div class="input-group">
      <span class="input-group-addon">Customer:</span>
      <%= text_field(:timesheet, :customer, :class => 'form-control', :placeholder => "", :value => @schedule.company_name) %>
    </div>
  </td>
  <td style="width:50%;margin:0;padding:0">
    <div class="input-group">
      <span class="input-group-addon">Country:</span>
      <%= text_field(:timesheet, :country, :class => 'form-control', :placeholder => "", :value => "Thailand") %>
    </div>
  </td>
</tr>
