<tr>
  <td style="width:50%">
    <div class="input-group">
      <span class="input-group-addon">Engineer:</span>
      <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" ng-model="timeSheet.engineer">
    </div>
  </td>
  <td style="width:50%;padding:0px">
    <table>
      <tr>
      <td style="width:50%;border:none;">
        <div class="input-group">
          <span class="input-group-addon">Machine Type:</span>
          <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" ng-model="timeSheet.machineType">
        </div>
      </td>
      <td style="width:50%;border:none;">
        <div class="input-group">
          <span class="input-group-addon">Machine No.:</span>
          <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" ng-model="timeSheet.machineNo">
        </div>
      </td>
    </tr>
    </table>
  </td>
</tr>
