<tr>
  <td style="width:50%">
    <div class="input-group">
    <span class="input-group-addon">Engineer:</span>
    <!-- <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1"> -->
    <%= text_field(:timesheet, :engineers, :class => 'form-control', :placeholder => "", :value => @engineers) %>
    </div>
  </td>
  <td style="width:50%;padding:0px">
    <table>
      <tr>
      <td style="width:50%;border:none;">
        <div class="input-group">
        <span class="input-group-addon">Machine Type:</span>
        <!-- <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1"> -->
        <%= text_field(:timesheet, :engineers, :class => 'form-control', :placeholder => "", :value => @product_types) %>
        </div>
      </td>
      <td style="width:50%;border:none;">
        <div class="input-group">
        <span class="input-group-addon">Machine No.:</span>
        <!-- <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1"> -->
        <%= text_field(:timesheet, :engineers, :class => 'form-control', :placeholder => "", :value => @schedule.machine_number) %>
        </div>
      </td>
    </tr>
    </table>
  </td>
</tr>
