<div class="row">
  <div class="col-md-2" style="border-left:1px solid #FF0000;border-bottom:1px solid #FF0000;">
    <div class="input-group">
      <span class="input-group-addon">Weekday</span>
    </div>
  </div>
  <div class="col-md-10" style="border-bottom:none;border-right:none;">
          <div class="col-md-3">
            <div class="col-md-6" style="border-right:1px solid #FF0000;border-top:none;">
              <div class="input-group">
                <span class="input-group-addon">&nbsp</span>
              </div>
            </div>
            <div class="col-md-6" style="border-right:none;border-top:none;">
              <div class="input-group">
                <span class="input-group-addon">Travel Out 1</span>
              </div>
            </div>
        </div>
        <div class="col-md-3">
          <div class="col-md-6" style="border-right:1px solid #FF0000;border-top:none;">
            <div class="input-group">
              <span class="input-group-addon">Travel Out 1</span>
            </div>
          </div>
          <div class="col-md-6" style="border-right:none;border-top:none;">
            <div class="input-group">
              <span class="input-group-addon">Travel Out 1</span>
            </div>
          </div>
        </div>
      <div class="col-md-3">
        <div class="col-md-6" style="border-right:1px solid #FF0000;border-top:none;">
          <div class="input-group">
            <span class="input-group-addon">Travel Out 1</span>
          </div>
        </div>
        <div class="col-md-6" style="border-right:none;border-top:none;">
          <div class="input-group">
            <span class="input-group-addon">Travel Out 1</span>
          </div>
        </div>
    </div>
    <div class="col-md-3">
      <div class="col-md-6" style="border-right:1px solid #FF0000;border-top:none;">
        <div class="input-group">
          <span class="input-group-addon">Travel Out 1</span>
        </div>
      </div>
      <div class="col-md-6" style="border-right:none;border-top:none;">
        <div class="input-group">
          <span class="input-group-addon">Travel Out 1</span>
        </div>
      </div>
    </div>

  </div>

  </div>
