<tr>
  <td style="width:50%;margin:0;padding:0;border-right:1px solid #FF0000">
    <div class="input-group">
      <span class="input-group-addon" style="border:none;">Customer:</span>
      <input type="text" class="form-control" placeholder="" style="border:none;" aria-describedby="basic-addon1" value='<%= @timesheet_json["customer"] %>'>
    </div>
  </td>
  <td style="width:50%;margin:0;padding:0">
    <div class="input-group">
      <span class="input-group-addon" style="border:none;">Country:</span>
      <input type="text" class="form-control" placeholder="" style="border:none;" aria-describedby="basic-addon1" value='<%= @timesheet_json["country"] %>'>
    </div>
  </td>
</tr>
