<div class="form-group">
  <label for="comment">Nilpeter General Remarks:</label>
  <textarea class="form-control" rows="5" id="comment" onkeyup="autoSize(this);" style="min-height:150px;"><%= @timesheet_json["nilpeterComment"] %></textarea>
</div>
