<tr>
    <td style="width:50%;border-right:1px solid #FF0000">
        <div class="input-group">
          <span class="input-group-addon">Kilometers:</span>
          <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["kilometers"] %>">
        </div>
    </td>
    <td style="width:50%;padding:0px">
      <table>
        <tr>
        <td style="width:50%;border:none;">
          <div class="input-group">
            <span class="input-group-addon">Car:</span>
            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["car"] %>">
          </div>
        </td>
        <td style="width:50%;border:none;">
          <div class="input-group">
            <span class="input-group-addon">Own car:</span>
            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="<%= @timesheet_json["ownCar"] %>">
          </div>
        </td>
        </tr>
      </table>
    </td>
  </tr>
