<div class="form-group">
  <label for="comment">Nilpeter General Remarks:</label>
  <textarea class="form-control" id="nilpeterComment" style=""><%= @timesheet_json["nilpeterComment"] %></textarea>
</div>
