<tr>
  <table border=0 cellpadding=0 cellspacing=0 style='border-collapse:
   collapse;table-layout:fixed;color:red;margin:0;border-top:none'class="table table-bordered monday">
   <col width=60 span=4 style='width:60pt'>
   <col width=43 span=2 style='mso-width-source:userset;mso-width-alt:1834;
   width:43pt'>
   <col width=60 span=4 style='width:60pt'>
   <col width=43 span=2 style='mso-width-source:userset;mso-width-alt:1834;
   width:43pt'>
   <tr height=30 style='mso-height-source:userset;height:30.0pt'>
    <td rowspan=5 height=150 style='height:150.0pt;'>Sundries</td>
    <td colspan=3 class=xl66 width=195 style='border-left:none;width:190pt;'>Job
    finished:</td>
    <td class=xl67 width=43 style='border-left:none;width:40pt'>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="timeSheet.jobFinishedYes"> yes
        </label>
      </div>
    </td>
    <td class=xl67 width=43 style='border-left:none;width:40pt'>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="timeSheet.jobFinishedNo"> no
        </label>
      </div>
    </td>
    <td colspan=4 class=xl68 width=260 style='border-left:none;width:255pt'>The
    customer wants contact concerning service:</td>
    <td class=xl67 width=43 style='border-left:none;width:40pt'>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="timeSheet.concerningYes"> yes
        </label>
      </div>
    </td>
    <td class=xl67 width=43 style='border-left:none;width:40pt'>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="timeSheet.concerningNo"> no
        </label>
      </div>
    </td>
   </tr>
   <tr height=30 style='mso-height-source:userset;height:30.0pt'>
    <td colspan=3 height=30 class=xl69 width=195 style='height:30.0pt;border-left:
    none;width:195pt'>Order for spare parts<br>
    <span style="mso-spacerun:yes">&nbsp;</span>To be issues:</td>
    <td class=xl67 style='border-top:none;border-left:none'>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="timeSheet.sparePartYes"> yes
        </label>
      </div>
    </td>
    <td class=xl67 style='border-top:none;border-left:none'>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="timeSheet.sparePartNo"> no
        </label>
      </div>
    </td>
    <td colspan=4 class=xl68 style='border-left:none'>The customer wants contact
    with Graphic Center:</td>
    <td class=xl67 style='border-top:none;border-left:none'>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="timeSheet.graphicYes"> yes
        </label>
      </div>
    </td>
    <td class=xl67 style='border-top:none;border-left:none'>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="timeSheet.graphicNo"> no
        </label>
      </div>
    </td>
   </tr>
   <tr height=30 style='mso-height-source:userset;height:30.0pt'>
    <td colspan=3 height=30 class=xl70 width=195 style='height:30.0pt;border-left:
    none;width:195pt'>The customer is mounting the parts<br>
    Ordered himself:</td>
    <td class=xl67 style='border-top:none;border-left:none'>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="timeSheet.partYes"> yes
        </label>
      </div>
    </td>
    <td class=xl67 style='border-top:none;border-left:none'>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="timeSheet.partNo"> no
        </label>
      </div>
    </td>
    <td colspan=4 class=xl68 style='border-left:none'></td>
    <td class=xl67 style='border-top:none;border-left:none'>
      <div class="checkbox">
        <label>
          <!-- <input type="checkbox" ng-model="timeSheet.concerningYes"> yes -->
        </label>
      </div>
    </td>
    <td class=xl67 style='border-top:none;border-left:none'>
      <div class="checkbox">
        <label>
          <!-- <input type="checkbox" ng-model="timeSheet.concerningNo"> no -->
        </label>
      </div>
    </td>
   </tr>
   <tr height=30 style='mso-height-source:userset;height:30.0pt'>
    <td colspan=3 height=30 class=xl70 width=195 style='height:30.0pt;border-left:
    none;width:195pt'>Order for fitter assistance<br>
    (mechanical) to be issued:</td>
    <td class=xl67 style='border-top:none;border-left:none'>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="timeSheet.mechanicalYes"> yes
        </label>
      </div>
    </td>
    <td class=xl67 style='border-top:none;border-left:none'>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="timeSheet.mechanicalNo"> no
        </label>
      </div>
    </td>
    <td colspan=4 class=xl68 style='border-left:none'>&nbsp;</td>
    <td class=xl67 style='border-top:none;border-left:none'>&nbsp;</td>
    <td class=xl67 style='border-top:none;border-left:none'>&nbsp;</td>
   </tr>
   <tr height=30 style='mso-height-source:userset;height:30.0pt'>
    <td colspan=3 height=30 class=xl70 width=195 style='height:30.0pt;border-left:
    none;width:195pt'>Order for fitter assistance<br>
    (electrical) to be issued:</td>
    <td class=xl67 style='border-top:none;border-left:none'>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="timeSheet.electricalYes"> yes
        </label>
      </div>
    </td>
    <td class=xl67 style='border-top:none;border-left:none'>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="timeSheet.electricalNo"> no
        </label>
      </div>
    </td>
    <td colspan=4 class=xl68 style='border-left:none'>&nbsp;</td>
    <td class=xl67 style='border-top:none;border-left:none'>&nbsp;</td>
    <td class=xl67 style='border-top:none;border-left:none'>&nbsp;</td>
   </tr>
  </table>
</tr>
