<table class="table table-bordered">
<tr>
  <td style="width:50%;padding:0px">
    <table style="padding:0px;border:none">
      <tr style="width:65%;border:none">
          <div class="input-group">
          <span class="input-group-addon">Sign Nilpeter:</span>
          <!-- <input type="text" class="form-control test" placeholder="" aria-describedby="basic-addon1" ng-model="timeSheet.arrivalIn" title="Please enter your name"> -->
          <!-- <%= text_field(:timesheet, :customer, :class => 'form-control', :placeholder => "", :value => @schedule.company_name) %> -->
          <div id="nilpeterSignature" style="height:100px"></div>
          </div>
      </tr>
      <tr style="width:35%;border:none">
          <div class="input-group">
          <span class="input-group-addon" style="padding-left:70px">Date:</span>
          <input type="text" style="padding-left:30px" class="form-control" placeholder="" aria-describedby="basic-addon1" ng-model="timeSheet.arrival">
          </div>
      </tr>
    </table>
  </td>
  <td style="width:50%;padding:0px">
    <table style="padding:0px;border:none">
      <tr style="width:65%;border:none">
          <div class="input-group">
          <span class="input-group-addon">Sign Customer:</span>
          <!-- <input type="text" class="form-control test" placeholder="" aria-describedby="basic-addon1" ng-model="timeSheet.arrivalIn" title="Please enter your name"> -->
          <!-- <%= text_field(:timesheet, :customer, :class => 'form-control', :placeholder => "", :value => @schedule.company_name) %> -->
          <div id="customerSignature" style="height:100px"></div>
          </div>
      </tr>
      <tr style="width:35%;border:none">
          <div class="input-group">
          <span class="input-group-addon" style="padding-left:85px">Date:</span>
          <input type="text" style="padding-left:30px" class="form-control" placeholder="" aria-describedby="basic-addon1" ng-model="timeSheet.arrival">
          </div>
      </tr>
    </table>
  </td>
</tr>
</table>
