<div class="row">
  <div class="col-md-2" style="border-left:1px solid #FF0000;border-bottom:none;">
    <div class="input-group">
      <span class="input-group-addon">Weekday</span>
    </div>
    <div class="input-group">
      <span class="input-group-addon"><br></span>
    </div>

  </div>
  <div class="col-md-10" style="border-right:none;">
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon">Travel Out 1</span>
            </div>
        </div>
        <div class="col-md-3">
          <div class="input-group">
            <span class="input-group-addon">Week</span>
          </div>
        </div>
      <div class="col-md-3">
        <div class="input-group">
          <span class="input-group-addon">Week</span>
        </div>
    </div>
    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon">Travel Back</span>
      </div>
    </div>
  </div>

  <div class="col-md-10" style="border-bottom:none;border-right:none;">
          <div class="col-md-3">
            <div class="col-md-6" style="border-right:1px solid #FF0000;border-top:none;">
              <div class="input-group">
                <span class="input-group-addon">Travel Out 1</span>
              </div>
            </div>
            <div class="col-md-6" style="border-right:none;border-top:none;">
              <div class="input-group">
                <span class="input-group-addon">Travel Out 1</span>
              </div>
            </div>
        </div>
        <div class="col-md-3">
          <div class="col-md-6" style="border-right:1px solid #FF0000;border-top:none;">
            <div class="input-group">
              <span class="input-group-addon">Travel Out 1</span>
            </div>
          </div>
          <div class="col-md-6" style="border-right:none;border-top:none;">
            <div class="input-group">
              <span class="input-group-addon">Travel Out 1</span>
            </div>
          </div>
        </div>
      <div class="col-md-3">
        <div class="col-md-6" style="border-right:1px solid #FF0000;border-top:none;">
          <div class="input-group">
            <span class="input-group-addon">Travel Out 1</span>
          </div>
        </div>
        <div class="col-md-6" style="border-right:none;border-top:none;">
          <div class="input-group">
            <span class="input-group-addon">Travel Out 1</span>
          </div>
        </div>
    </div>
    <div class="col-md-3">
      <div class="col-md-6" style="border-right:1px solid #FF0000;border-top:none;">
        <div class="input-group">
          <span class="input-group-addon">Travel Out 1</span>
        </div>
      </div>
      <div class="col-md-6" style="border-right:none;border-top:none;">
        <div class="input-group">
          <span class="input-group-addon">Travel Out 1</span>
        </div>
      </div>
    </div>

  </div>


  <!-- <div class="col-md-4 input-group">
    <span class="input-group-addon">Kilometres:</span>
    <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
  </div>
  <div class="col-md-4 input-group">
    <span class="input-group-addon">Kilometres:</span>
    <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
  </div>
  <div class="col-md-6 inside">
    <div class="input-group">
    <span class="input-group-addon">Car:</span>
    <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
    </div>
  </div>
  <div class="col-md-6 inside">
    <div class="input-group">
    <span class="input-group-addon">Own car:</span>
    <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="X">
    </div>
  </div> -->

  </div>
