<div class="row">
  <div class="col-md-2">
    <div class="input-group">
      <span class="input-group-addon">Weekday</span>
    </div>
  </div>
  <div class="col-md-10">
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon">Travel Out</span>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon">Travel Out</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon">Travel Out</span>
              </div>
            </div>

        </div>
        <div class="col-md-3">
          <div class="input-group">
            <span class="input-group-addon">Week</span>
          </div>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <span class="input-group-addon">Week</span>
        </div>
    </div>
    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-addon">Travel Back</span>
      </div>
    </div>

  </div>

  <!-- <div class="col-md-4 input-group">
    <span class="input-group-addon">Kilometres:</span>
    <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
  </div>
  <div class="col-md-4 input-group">
    <span class="input-group-addon">Kilometres:</span>
    <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
  </div>
  <div class="col-md-6 inside">
    <div class="input-group">
    <span class="input-group-addon">Car:</span>
    <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
    </div>
  </div>
  <div class="col-md-6 inside">
    <div class="input-group">
    <span class="input-group-addon">Own car:</span>
    <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" value="X">
    </div>
  </div> -->

  </div>
