<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  
  <div class="container">
    
   
    
    
  </div>
</div><!--/.nav-collapse -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>