<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/register/calendar"><b>nilpeter</b></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <%= content_tag(:li, link_to("Calendar", :controller => "register", :action => 'calendar'), :class => ("active" if current_page? "/register/calendar" or current_page? "/") ) %>
        <%= content_tag(:li, link_to("Schedule", :controller => "register", :action => 'schedule'), :class => ("active" if current_page? "/register/schedule") ) %>
        <%= content_tag(:li, link_to("Table", :controller => "register", :action => 'index'), :class => ("active" if current_page? "/register") ) %>
      </ul>
      <p class="navbar-text">Sales Visit Schedule</p>
       <ul class="nav navbar-nav navbar-right">
         <%= content_tag(:li, link_to("Admin", :controller => 'admin', :action => 'index'), :class => ("active") ) %>
       </ul>
    </div>
    
  </div>
</div><!--/.nav-collapse -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>