<%= form_tag(:action => 'update', :id => @location.id) do %>  
  <label>
    <div>Customer Name</div>
    <%= text_field(:location, :name) %>
  </label>
  <div class="error"><%= @error %></div>
  <%= submit_tag('Update Customer') %>
<% end %>
 
