/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
 *= require select2.css
*/

#calendar {
    margin-top: 15px;
}
h1 {
    margin-top: 25px;   
}

.instruction {
    color: red;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
}

label {
  display: block;
  font-size: 18px;
  width: 500px;
  margin: 10px;
  
}

input[type=text] {
    width: 350px;
    font-size: 20px;
    padding: 1px;
    font-family: monospace;
}

textarea {
  width: 350px;
  height: 300px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 20px;
}

.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;
}

.post-content {
    margin-top: 5px;
}

table {
 
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
  
}
table th {
  border: 2px solid black;
  font-family: modern;
  background-color: #FA5858;
  height: 35px;
}

table th.normal, table td.normal {
  padding: 4px;
  width: 15%;
  text-align: left;
  border: 1px solid black;
  
}

table th.long, table td.long {
  padding: 4px;
  width: 25%;
  text-align: left;
  border: 1px solid black;
}

table th.short, table td.short {
  padding: 4px;
  width: 7%;
  text-align: left;
  border: 1px solid black;
}

a {
    color: white;
}

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 0.1em;
  cursor: default;
  height: 45px;
}

.apple_pagination a, .apple_pagination span {
  padding: 0.2em 0.3em;
}

.apple_pagination .disabled {
  color: #aaaaaa;
}

.apple_pagination em {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}

.apple_pagination a {
  text-decoration: none;
  color: black;
}

.apple_pagination a:hover, .apple_pagination a:focus {
  text-decoration: underline;
}


/*hotlist inactive bars*/
.nav-tabs  li.active  a,
.nav-tabs  li.active  a:hover,
.nav-tabs  li.active  a:focus{
            color: white;
            background-color: #E60000;
} 

.nav-tabs  li.inactive  a,
.nav-tabs  li.inactive  a:hover,
.nav-tabs  li.inactive  a:focus{
            color: #555555;
            background-color: #DDDDDD;
} 


.navbar {
  background-color: #FF3333;
  background-image: none;
  background-repeat: no-repeat;
  border-bottom-color: white;
  filter: none;
  color: white;
}

.navbar-header .navbar-brand {
    color: white;
    font-style: italic;
    background-color: #E60000;
}
.navbar .nav > li > a {
    background-color: #FF3333;   
    color: white;
}

.container > .collapse .navbar-collapse > .navbar-text {
    background-color: #FF3333;   
    color: white; 
}

.navbar .nav > li > a:focus,
    .navbar .nav > li > a:hover {
      background-color: lightslategray;
      color: white;
    }

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {

 background-color: darkred;
 color: white;
}

.container .navbar-text{
    color: white;  
    position:absolute;
    left:55%;
    text-align: center;
}
          
#footer {
    height: 30px;
    color: lightgrey;
    background-color: #FF3333;
    margin-top: 10px;
    clear: both;
    border-radius: 15px;
    bottom: 0px;
}

.checkbox-inline {
    margin-left: 15px;
    vertical-align: text-top;
    margin-right: 10px;
    
}

.one {
    float: left;
    width: 50%;
}
.two {
   float: right;
    width: 50%;
}

.btn-primary {
    background-color: lightsteelblue;
}

.export {
    margin-right: 1%;
    margin-bottom: 10px;
}

#schedule-form {
    margin-left: 3%;
}

.error {
    color: red;
    font-size: 9pt;
   
}

.e9 {
    font-size: 12pt;
}

.burning {
	  color: black;
	  font-size: 16px;	
}

#moving-text {
    float: bottom;
    position:absolute;
    color: red;
    background-color: red;
}

.btn.btn-default {
    font-size: 12pt;
}

.navbar-form.navbar-right {
    margin: 0px;
}

.form-control {
    width: 20%;
}

.nav-tabs > li > a,
.nav-tabs > li > a:focus{
    color: white;
    background-color: #999;  
} 

.nav-tabs > li > a:hover {
    background-color: red;
}


