<h1>Welcome to Calendar Page</h1>

<%= link_to("Index", {:action => 'index'}) %>

<%= javascript_tag do %>

   
	$(document).ready(function() {
	
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
                
		
              
		var calendar = $('#calendar').fullCalendar({
			header: {
				left: 'prev ,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
                        
			selectable: true,
			selectHelper: true,			
			editable: false,
			events: [
                                <% @schedule.each do |s| %>
				{
					title: '<%= s.customer + " : " + s.sales %>',
					start: new Date(<%= s.date.strftime("%Y, %m - 1, %d") %>)
				},
				<% end %>
			], 
                        
                        defaultView: 'agendaWeek'
                       
		});
                
                
                           
               <%#*$('.fc-button-prev').click(function(){%> 
                   <%#*var view = $('#calendar').fullCalendar('getView');%>  
<%#*//                   alert("The view's title is " + view.title);%>
                   <%#*alert("The view's title is " + view.start);%>
               <%#*});%> 
               
               <%#*$('.fc-button-month').click(function(){%> 
                   <%#*var view = $('#calendar').fullCalendar('getView');%>
<%#*//                   alert("The view's title is " + view.title);%>
                   <%#*alert("The view's title is " + view.start);%>
               <%#*});%> 
	});
        
<% end %>
  
<div id='calendar'></div>


