<style>
  tbody td {
    font-size: 10pt;
    text-align: center;
  }
  tr {
    color: black;
  }
  .header {
    background-color: #BBBBBB;
  }
</style>

<div class="container">
  <!-- Main component for a primary marketing message or call to action -->
  <!--/ flash massages -->
  <div class="notice"><%= flash[:notice] %></div> 
  <div id="schedule-table"><%= render 'partial' %></div>
</div> 
<div><%= render 'hover' %></div>

<!-- / javascript -->
<%= javascript_tag do %>
   $(document).ready(function() {
    $(document).on("click", "#schedule-table th a, #schedule-table .pagination a", function() {
      $.getScript(this.href);
      return false;
    }); 
    $("#products_search input").keyup(function() {
      $.get($("#products_search").attr("action"), $("#products_search").serialize(), null, "script");
    return false;
    });
    
     $.ionSound({
          sounds: [
              "table"
          ],

          path: "http://k007.kiwi6.com/hotlink/iho1yhka0o/",
          multiPlay: true,
          volume: "1.0"

      });
      $.ionSound.play("table");
  });  
<% end %>