<!DOCTYPE html>
<html>
<head>
  <title>NilpeterWeb</title>
  
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js",
     "http://code.jquery.com/jquery-1.9.1.js", "http://code.jquery.com/ui/1.10.3/jquery-ui.js", "application" %>
    <%= stylesheet_link_tag "http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.css", "http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.print.css",
     "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css", "application" %>
    
    <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>


</html>
